################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GUI/UserscamerAppDataLocalTemptmp7q2gn20z
/GUI/UserscamerAppDataLocalTemptmpa605tmer
/.vs/dnd-game-tracker/v17/Browse.VC.db
